@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/
/*===== Colores =====*/
:root {
  --first-color: #043755;
  --second-color: #f7d9f4;
  --white-color: #EDEDED;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Quicksand', sans-serif;
  --small-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --small-font-size: 0.938rem;
  }
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* position: relative; */
  /* margin: 0; */
  /* padding: 5rem 0 0 7rem; */
  font-family: var(--body-font);
  background-color: var(--white-color);
  /* -webkit-transition: .5s;
  transition: .5s; */
  
}

h1 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
/*==========About  HEADER ==========*/

h3 {
    margin: 0;
  }


/*========== HEADER ==========*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--first-color);
    box-shadow: 0 1px 0 #f0bef3;
    padding: 0 1rem;
    z-index: var(--z-fixed);
  }
  
  .header__container {
    display: flex;
    align-items: center;
    height: 3.5rem;
    justify-content: space-between;
  }
  .header__logo {
    color: var(--white-color);
    font-weight: var(--font-medium);
    margin-left: 60px;
  }
  
  .header__input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--second-color);
  }
  
  .header__input::placeholder {
    font-family: var(--body-font);
    color: var(--text-color);
  }
  
  .header__icon, 
  .header__toggle {
    font-size: 1.2rem;
  }
  
  .header__toggle {
    color: var(--white-color);
    font-family: cursive;
    margin-left: 70%;
    text-align: inline;
    font-weight: var(--small-font-size);
  }


  
/*=====  FOOTER =====*/
.footer {
  background-color: var(--first-color);
  /* color: var(--second-color); */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  overflow: hidden;
  text-align: center;
  /* padding: 10px 10px 0px 10px; */
}

/*Active links menu*/
.active {
  background-color: var(--second-color);
  color: var(--first-color);
}

/*Add padding body*/
.expander {
  padding: 5rem 0 0 16rem;
  -webkit-transition: .5s;
  transition: .5s;
}