{% extends 'Calories/base1.html' %} 
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
{% block title %}Register{% endblock title %}

{% block body %}


{% if messages %}
{% for message in messages %}
    <div class="alert alert-warning alert-dismissible m-5">
        <a href="{% url 'register' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong> 
    </div>
{% endfor %}
{% endif %}


  <h1 class=" text-center" style="margin-top:80px;">Register yourself &#8595;</h1>
    <hr class="mt-0 mb-4 w-50">
  <div class="container mt-3 mb-5 p-5">
         <form class="my-form bg-light rounded p-5 shadow-lg" action="{% url 'register' %}" method="post">
          {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                   <label class="col-12 col-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                   <div class="col-12">
                        <input
                          type="{{ field.field.widget.input_type }}"
                          class="form-control"
                          name="{{ field.name }}"
                          id="id_{{ field.name }}"
                          value="{{ field.value|default:'' }}"
                          placeholder="{{ field.label}}"
                          required="{{field.required}}"
                        >
                   </div>
                   <div class="col-12 help-text">{{ field.help_text }} </div>
                </div>
            {% endfor %}
               <div class="row">
                 <div class="col-12 p-3">
                   <input type="submit" value="Submit" class="btn btn-primary">
                   <p>Have you Already an Account? <a href="{% url 'loginUser' %}">Login Here</a></p>
                 </div>
               </div>
        </form>
  </div>
    
   

{% endblock body %}

{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
{#</body>#}
{#</html>#}